/*----------------------------------------------------------*/
.body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.top {
    border: 0.05em solid;
    height: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    /* text-align: center; */
}
/* .top p {
    margin-left: 20%;
} */

.middle {
    border: 0.05em solid;
    /* #D4D4D5 */
    height: 45%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.middle-left {
    border: 0.05em solid;
    /* #D4D4D5 */
    width: 19.7%;
    height: 100%;
    float: left;
}

.middle-left-top {
    height: 10%;
    width: 100%;
    margin: 0;
}

.middle-middle {
    border: 0.05em solid;
    width: 60%;
    height: 100%;
    float: left;
}

.middle-right {
    border: 0.05em solid;
    width: 19.7%;
    height: 100%;
    float: left;
}


.down {
    border: 0.05em solid;
    height: 45%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.down-left {
    border: 0.05em solid;
    width: 49.8%;
    height: 100%;
    float: left;
}

.down-left-top {
    width: 100%;
    height: 10%;
}


.down-left-middle {
    width: 100%;
    height: 80%;
    overflow :auto;
}

.down-left-down {
    width: 100%;
    height: 10%;
}

.down-left-down-add {
    margin-left: 70%;
    width: 10%;
    height:50%;
}

.down-left-down-submit {
    width: 15%;
    height:50%;
}

.down-right {
    border: 0.05em solid;
    width: 49.8%;
    height: 100%;
    float: right;
}

.div-name-font {
    font-size: 100%;
}

/*------------------------------------------------------*/
/* .bg-gray { background: #d8d5d5; }

.ui.menu { margin: 0; }

.ui.modal>.header { padding: 0 0 0.7rem 0; }

.field textarea { resize: none !important; }

.subheader { 
    min-height: 34px;
    height: 6%;
    box-sizing: border-box;
    border-bottom: 1px solid #58a5f3; 
    padding-top: 10px; 
    padding-left: 6px; 
}
.subheader .column { 
    display: inline-block; 
    height: 19px; 
    width: 26px; 
    font-size: 20px; 
    margin: 0 4px; 
}
.subheader .column:hover { cursor: pointer; }

.subheader .divider { 
    display: inline-block; 
    height: 14px; 
    border-right: 1px solid #c7cacd; 
}

.editor-toolbar .icon { color: #3B5998; }

.editor-toolbar .icon:hover { color: #21BA45; } */

/*超出省略号*/
.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 清除浮动 */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both;    
    visibility: hidden;
}




/*------------------------------------------------------*/

.middle-middle>.tab { 
    height: 100%;
    /* padding: 6px; */
    border-left: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d4;
}
.view { 
    height: 100%; 
}

/*
.full-right { 
    width: 91%;
    padding-top: 4px;
    padding-left: 6px;
}

.full-right>.tab { 
    height: 95%; 
    padding: 6px;
    border-left: 1px solid #d4d4d5;
    border-right: 1px solid #d4d4d4;
}

.full-right>.menu {
    height: 5%;
}

.full-right>.menu>.item { padding: 0.8em 1.0em !important; }

.full-right>.menu>.item>i:hover { color: green !important; }

.full-right form { height: 100%; }

.full-right-top { 
    background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAPPz89/f3ywAAAAACgAKAAACEQyOaJnL515ksz11YQah+18AADs=)!important; 
    box-sizing: border-box; 
    border: 1px dashed #FFF; 
}

.full-right-top.activate {
    border: 1px dashed #37F537;
}

.view { 
    height: 68%; 
}

.full-right-btn { 
    border-top: 1px solid #D4D4D5 !important;
    margin-bottom: 0px !important;
    height: 3%;
    margin-bottom: 0px !important;
}

.full-right-btn .item { 
    height: 100%; 
    padding: 0.5em 1.0em !important;
}

.full-right-bottom { 
    height: 26%; 
    border: 1px solid #c7cacd; 
}*/

.components-btn { 
    display: flex;
    margin-top: 2px; 
    line-height: 23px; 
    min-width: 100px; 
    min-height: 23px; 
}

.components-btn:hover { 
    background: #e6e7f5; 
    border-radius: 3px;
}

.components-btn:not(.noComponent):hover span:after {
  content: '\00BB'; 
  color: #21BA45;
  margin-left: 5px;
}

.components-btn.active { 
    background: #e6e7f5;
    border-radius: 3px;
}

.components-btn span { 
    padding-left: 6px; 
    cursor: pointer;
}



/*------------------------工具栏 icon start------------------------*/
.middle-left .components-btn>div {
    display: flex;
}

.middle-left i.tools {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 5px 0 0 8px;
    overflow: hidden;
}

.middle-left .input-icon {
    background: url('../icons/input_icon.png');
}

.middle-left .output-icon {
    background: url('../icons/output_icon.png');
}

.middle-left .process-icon {
    background: url('../icons/process_icon.png');
}

.middle-left .line-icon {
    background: url('../icons/line_icon.png');
}

.middle-left .polyline-icon {
    background: url('../icons/polyline_icon.png');
}
/*------------------------工具栏 icon end------------------------*/