<!doctype html>
<html lang="en" style="height: 100%; width: 100%">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <script type="text/javascript" src="../static/jquery-3.3.1.min.js"></script>
    <title>PYWE</title>
  </head>
  <body class="body">
    <!-- top -->
    <div class="top"> 
      <p> Python Workflow Editor</p>
    </div>
    <!-- middle -->
    <div class="middle">
      <div class="middle-left">
        <div><span class="div-name-font">Components</span></div>
        <div class="components-btn clearfix" name="inputComponent" type="start" draggable="true" data-show="I">
          <div><i class="tools start-icon"></i><span>Input</span></div>
        </div>        
        <div class="components-btn clearfix" name="outputComponent" type="end" draggable="true" data-show="O">
          <div><i class="tools end-icon"></i><span>Output</span></div>
        </div>
        <div class="components-btn clearfix" name="ordinaryActivity" type="activity" draggable="true" data-show="Process">
          <div><i class="tools start-icon"></i><span>普通活动</span></div>
        </div>
        <div class="components-btn noComponent clearfix" name="NOROUTING">
          <div><i class="tools start-icon"></i><span>转移</span></div>
        </div>
        <div class="components-btn noComponent clearfix" name="SIMPLEROUTING">
          <div><i class="tools start-icon"></i><span>自转移</span></div>
        </div>
      </div>
      <div class="middle-middle">
          <p>middle-middle</p>
          <i style="background: url(../static/icons/input_icon.png);"></i>
          <p>after that</p>
      </div>
      <div class="middle-right">
          <p>middle-right</p>
      </div>
    </div>

    <!-- down -->
    <div class="down">
      <div class="down-left">
        <div class="down-left-top">
          <p> Input </p> 
        </div>
        <div id="down-left-middle_id" class="down-left-middle">
          <div style="height:10%;">world</div>
          <div style="height:10%;">world</div>
        </div>

        <div class="down-left-down">
          <button class="down-left-down-add" id="add" onclick="add_btn()"> add </button>
          <button class="down-left-down-submit" id="submit"> submit </button>

        </div>
      </div>
      <div class="down-right">
        <p> Output </p>
      </div>
    </div>
    <script type="text/javascript" src="../static/index.js" ></script>
  </body>
</html>
