<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
</head>
<body>
    <center>
			<p> {{ feature_name  }} </p>
        {% for item in output_list %}

		{% if item is string %}

		{{ item  }}

		{% else  %}

		{% if state[item] == 1  %}

		<li> <a style="color:red"  href="/chart/?uid={{uid}}&item={{item}}"> {{ feature[item] }}  &#58 {{ data[item] }} </a> </li>   <br/> 

		{% else  %}

	   <li>	<a style="color:green"  href="/chart/?uid={{uid}}&item={{item}}"> {{ feature[item] }}  &#58 {{ data[item] }} </a> </li> <br/>

		{% endif %}

		{% endif %}

		{% endfor %}

    </center>
</body>
</html>
